p  { 
    background-color: pink; 
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}
#Segundo {
    color: blue;
    font-size: 36px;
}

p.Tercero {
    font-size: 24px;
}

#Cuarto {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
