div.Prueba {
    color: white;
    background-color: red;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: grey;
    background-color: gold;
    font-size: 50px;
}